* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Verdana, sans-serif;
	background: url(img/hintergrund.jpg);
	color: #3a3a3a;
	
}

button {
	border: 1px solid #999;
	-moz-border-radius: 5px;
	padding: 0px;
	color: black;
	font-weight: bold;
	-webkit-border-radius: 5px;
	font-size: 13px;
}
